@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  background: hsla(255, 255%, 255%, 1);
  font: 100%/1 'Lobster', cursive;
}

.ui-input-text {

    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 200px;
}
