{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link href="static/index.js">
    <style>
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.button_style {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Lobster;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.button_style:hover {
  background: #dbcedb;
  background-image: -webkit-linear-gradient(top, #dbcedb, #d1bed1);
  background-image: -moz-linear-gradient(top, #dbcedb, #d1bed1);
  background-image: -ms-linear-gradient(top, #dbcedb, #d1bed1);
  background-image: -o-linear-gradient(top, #dbcedb, #d1bed1);
  background-image: linear-gradient(to bottom, #dbcedb, #d1bed1);
  text-decoration: none;
}
</style>

<tr valign="middle">
<td>
<center>
<img src="/static/authentype.jpg" alt="Authentype" style="width:304px;height:228px;">

<p>Introducing Authentype!</p>
    <br />
<p>Register below for an exciting look at a novel form of 2-factor identification!</p>
<br />
<p>Enter an arbitrary username and password below. After hitting register, you will take a typing dynamics evaluation. </p>
    <br />
    <p> Then, when you login, a typing dyanmics test will be used to verify the user's identity!</p>
<br />

<div class=""container">
    <section id ="content">
      <form method="post" action="/hello">
          <label>Username<br /></label>
          <input type="text" class="ui-input-text" name="username" /><br />
          <br />
          <label>Password<br />
          <input type="password" class="ui-input-text" name="pw" /><br /> <br />
          <input type="submit" class="button_style" value = "login" name = 'submit'/>
          <input type="submit" class="button_style" value = "register" name = 'submit'/>
      </form>
    </section>
    </div>
</tr>
</table>
<br />
<br />
</center>

{%  if match %}
<div class="alert success">
  <span class="closebtn">&times;</span>
  You have correctly logged in.
</div>
{%  endif %}
{%  if no_match %}
<div class="alert warning">
  <span class="closebtn">&times;</span>
  The username/password is inccorrect. Have you registered?
</div>
{%  endif %}
{%  if user_taken %}
<div class="alert warning">
  <span class="closebtn">&times;</span>
  That username is already taken. Please register with a different one.
</div>
{%  endif %}
{%  if registered %}
<div class="alert success">
  <span class="closebtn">&times;</span>
  You have successfully registered!
</div>
 {%  endif %}

<script>
// Get all elements with class="closebtn"
var close = document.getElementsByClassName("closebtn");
var i;

// Loop through all close buttons
for (i = 0; i < close.length; i++) {
    // When someone clicks on a close button
    close[i].onclick = function(){

        // Get the parent of <span class="closebtn"> (<div class="alert">)
        var div = this.parentElement;

        // Set the opacity of div to 0 (transparent)
        div.style.opacity = "0";

        // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
        setTimeout(function(){ div.style.display = "none"; }, 600);
    }
}
</script>
{% endblock %}