{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/style.css">


    <style>
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
</style>


<script language="JavaScript" type="text/javascript">
function setLabel(buttonNum, buttonLabel){
    if (buttonNum == 1) {
        document.getElementById('button1').value = "Key " + buttonLabel; }
    else if (buttonNum == 2) {
        document.getElementById('button2').value = "Key " + buttonLabel; }
    else if (buttonNum == 3) {
        document.getElementById('button3').value = buttonLabel;
    }
    else {
        document.getElementById('button4').value = buttonLabel;
    }
    document.getElementById('field1').value = "";
    document.getElementById('field1').focus();
}

var numPresses = 0;

function countPresses () {
    var buttonLabel;
    numPresses++;
    buttonLabel = "Pressed " + numPresses + " time\(s\)";
    setLabel(2, buttonLabel);
}
var ky;
var ky_prev;
var start;
var end;
function keyDownTime(e) {
    ky_prev = ky;
    ky = e.which;
    start = +new Date();

    if (end != null) {
        if (ky_prev != null) {
            buttonLabel = "Time between button presses of " + ky_prev + " and " + ky + ": " + (start - end) + " Milliseconds";
            console.log(buttonLabel);
            setLabel(4, buttonLabel);
        }
    }
}
function keyUpTime(e){
    end = +new Date();
    var buttonLabel;
    buttonLabel = "Time Down for " + e.keyCode + ": "  +(end - start) + " Milliseconds";
    console.log(buttonLabel);
    setLabel(3, buttonLabel)
}

function disableEnterKey(e)
{
     var key;
     if(window.event)
          key = window.event.keyCode; //IE
     else
          key = e.which; //firefox

     return (key != 13);
}

 $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $('#result').text(data.result);
        $('input[name=a]').focus().select();
      });
      return false;
    };
    $('a#calculate').bind('click', submit_form);
    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
    $('input[name=a]').focus();

     $('input[type=text]').bind('onkeypress', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
  });

</script>

    <tr valign="middle">
<td>
<center>
<img src="/static/authentype.jpg" alt="Authentype" style="width:304px;height:228px;">

<p>Welcome Comrade,</p>


<!-- The Modal -->
  <!-- Modal Content -->
    <div class=""container">
    <section id ="content">
      <form method="post" action="/hello">
          <label for="yourname">Username<br /></label>
          <input type="text" name="username" /><br />
          <label for="youremail">Password<br />
          <input type="password" name="pw" /><br />
          <input type="submit" value = "login" name = 'submit'/>
          <input type="submit" value = "register" name = 'submit'/>
      </form>
    </section>
    </div>
</tr>
</table>

<br />
<br />

{%  if match %}
<div class="alert success">
  <span class="closebtn">&times;</span>
  You have correctly logged in.
</div>
{%  endif %}
{%  if no_match %}
<div class="alert warning">
  <span class="closebtn">&times;</span>
  The username/password is inccorrect. Have you registered?
</div>
{%  endif %}
{%  if user_taken %}
<div class="alert warning">
  <span class="closebtn">&times;</span>
  That username is already taken. Please register with a different one.
</div>
{%  endif %}
{%  if registered %}
<div class="alert success">
  <span class="closebtn">&times;</span>
  You have successfully registered!
</div>
 {%  endif %}

<script>
// Get all elements with class="closebtn"
var close = document.getElementsByClassName("closebtn");
var i;

// Loop through all close buttons
for (i = 0; i < close.length; i++) {
    // When someone clicks on a close button
    close[i].onclick = function(){

        // Get the parent of <span class="closebtn"> (<div class="alert">)
        var div = this.parentElement;

        // Set the opacity of div to 0 (transparent)
        div.style.opacity = "0";

        // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
        setTimeout(function(){ div.style.display = "none"; }, 600);
    }
}
</script>

</center>
{% endblock %}